figure {
  background: #ccc;
  margin: 0;
  padding: 1rem;
}
figcaption form {
  display: inline-block;
}

.codepen-mover-button {
  position: absolute;
  bottom: 5px;
  right: 8px;
}

.snippet-code {
    border: 1px solid #e4e6e8;
    padding: 10px;
}