<div>
  $codeAsHtml
</div>

<!-- Note: The form won't submit in preview mode on Confluence -->
<form action="https://codepen.io/pen/define" method="post" target="_blank">
  <input type="hidden" name="data" value='{"title": "Pen", "$lang": "$escCode"}'/>

  <input type="submit" value="View on Codepen"/>
</form>